/* ================================= 
          Media Queries
==================================== */

@media screen and (min-width: 576px) {

    .portfolio {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .project > a > img {
        width: 100%;
    } 
}

@media screen and (min-width: 768px) and (max-width: 991.9px) {

    .navbar-toggle {
        display:none;
    }
    
    .logo-md, .nav-links-md {
        display: block;
    }

    .logo-md p {
        display: block;
    }

    li {
        display: block;
    }

    .navbar-md {
        background-color: white;
        height: 100vh;
        float: left;
        width: auto; 
        padding: 5px;
        border: 1px solid black;
        align-items: flex-start;
        position: fixed;
        z-index: 2;
    }
    
    .logo-md {
        fill: goldenrod;
        text-align: center;
        background-color: white;
        color: black;
        border-bottom: 1px solid black;
        height: 100px;
        width: auto;
    }
    
    .logo-md p {
        display: block;
        margin: 0px;
        line-height: 113px; 
        font-size: 55px;
    } 
    
    nav a {
        color: black;
        text-decoration: none;
    }
    
    .nav-links-md {
        text-align: center;
    }
    
    .nav-links-md ul li {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 22px; 
    }

    .nav-links-md ul li a:hover {
        color: rgb(179, 0, 0);
    }

    .nav-links-md ul li a span {
        font-size: x-large;
    }

    #menu-btn {
        display: none;
    }

    .hero-text, .scroll-down,
    .scroll-up {
        margin-left: 1.5rem;
    }

    .portfolio {
        margin-left: 3rem;
    }

    .form-container {
        margin-left: 3rem;
    }
}

@media screen and (min-width: 992px) {

    .logo, .nav-links {
        display: block;
    }

    .navbar-md {
        display: none;
    }

    .logo p {
        display: block;
    }

    li {
        display: block;
    }

    .navbar {
        background-color: white;
        height: 100vh;
        float: left;
        width: auto; 
        padding: 5px;
        border: 1px solid black;
        align-items: flex-start;
        position: fixed;
        z-index: 2;
    }
    
    .logo {
        fill: goldenrod;
        text-align: center;
        background-color: white;
        color: black;
        border-bottom: 1px solid black;
        height: 100px;
        width: auto;
    }
    
    .logo p {
        display: block;
        margin: 0px;
        line-height: 113px; 
        font-size: 55px;
    } 
    
    nav a {
        color: black;
        text-decoration: none;
    }
    
    .nav-links {
        text-align: center;
    }
    
    .nav-links ul li {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 22px;
    }
    
    #contact-me-li {
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .nav-links ul li a:hover {
        color: rgb(179, 0, 0);
    }

    .nav-links ul li a span {
        font-size: xx-large;
    }

    #menu-btn {
        display: none;
    }

    .hero-text, .scroll-down,
    .scroll-up {
        margin-left: 4.5rem;
    }

    .portfolio {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 10rem;
    }

    .project {
        text-align: start;
        font-size: x-large;
    }

    .project h3, 
    .project a p {
        margin-left: 20px;
    }

    .contact-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .contact-text {
        grid-column-start: 1;
        grid-column-end: 2;
        text-align: start;
        margin-left: 155px;
    }
 
    .form-container {
        grid-column-start: 2;
        grid-column-end: 4;
    }
}  

@media screen and (min-width: 1200px) {
    
    .hero-text, .scroll-down,
    .scroll-up {
        margin-left: 4.5rem;
    }

    .portfolio {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 8rem;
    }
}